html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-heading {
    display: flex;
    justify-content: space-between;
}
.heading-1 {
    width: 100%;
    /* max-width: 80%; */
    display: flex;
    padding: 45px 0;
    justify-content: space-between;
    margin: 20px auto;
    background-color: hsl(193, 100%, 93%);
}
.heading {
    width: 80%;
    /* max-width: 80%; */
    display: flex;
    padding: 45px;
    justify-content: space-between;
    margin: 20px auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
div.para {
    width: 40%;
}
.heading img, .heading-1 img {
    width: 40%;
    /* padding-left: 10px; */
}

footer {
    width: 100%;
    /* max-width: 80%; */
    display: flex;
    padding: 45px 0;
    justify-content: space-between;
    margin: 20px auto;
    background-color: hsl(210, 89%, 7%)
}
footer div {
    width: 20%;
    padding: 12px;
}
footer img {
    color: white;
}
footer ul li {
    list-style: none;
}
footer ul li a{
    color: white;
    text-decoration: none;
    line-height: 1.9;
}
@media screen and (max:375px) {
    .heading {
        flex-direction: row;
    }   
}